BOT_TOKEN=7666201765:AAGUzeDLniXy5jBbJ0tvMWrNJJx4jRaKuRA
ADMIN_CHAT_ID=29250880
NOTIFY_BOT_TOKEN=efd75c5c849f429cbd0651d74a94da13   # اختياري
HAMMING_THRESHOLD=8        # كل ما قل زادت الحساسية
DPI=120                     # توفير رام مع جودة كافية
PORT=8000
